* {
  border: 1px solid white;
  font-family: 'Nunito', sans-serif;
  font-style: italic;
}

@import '~js-datepicker/dist/datepicker.min.css';

button {
  width: 120px;
  height: 47px;
  border-radius: 8px;
  font-size: 18pt;
  box-shadow: 2px 2px 2px black;
  border: 1px solid black;
}

button:hover{
  background-color: brown;
  cursor: pointer;
  color: white
}

body {
  background: url('../images/background.jpg') no-repeat center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 300vh;
  align-items: center;
  margin: 0;
}

.title__box{
  width: 85%;
  height: 60px;
  margin: 2%;
  background-color: white;
  opacity: 80%;
  border-radius: 8px;
  box-shadow: 8px 8px 2px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title__icon-left{
  height: 100%;
  width: 7%;
}

.title__icon-right{
  height: 100%;
  width: 7%;
  transform: scaleX(-1);
}

h1 {
  font-size: 28pt;
}

.nav__box{
  width: 85%;
  height: 60px;
  margin: 2%;
}

.main__box{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 85%;
}

.main__central-display-box {
  display: flex;
  height: 300px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.main__left-user-display,
.main__right-user-display{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 80%;
  background-color: white;
  opacity: 80%;
  border-radius: 8px;
  box-shadow: 8px 8px 2px black;
}

.main__left-display-welcome{
  margin: 19px;
  font-size: 26pt;
  text-align: center;
  margin-top: -6px;
}

.dashboard__past-bookings-button{
  width: 80%;
  height: 40%;
  margin-left: 36px;
}

.dashboard__total-spent {
  font-size: 16pt;
}

.main__central-display-modal-mask{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.main__central-display-login-modal{
  display: block;
  position: fixed;
  left: 33%;
  top: 37%;
  z-index: 9999;
  width: 500px;
  height: 300px;
  background-color: white;
  box-shadow: 6px 6px 2px black;
  border-radius: 8px;
}

.login__inputs-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  border: 1px solid red;
  font-size: 20pt;
}

.login__username, 
.login__password {
  height: 30px;
  width: 170px;
  font-size: 20pt;
  border: 1px solid black;
  margin: 10px;
  text-align: center;
}

.main__rooms-box {
  width: 100%;
  height: 250px;
}

.login__invalid-msg-box{
  height: 63px;
  text-align: center;
  width: 100%;
}

.login__invalid-username,
.login__invalid-password{
  color: red;
}


.hidden {
  display: none;
}